@font-face {
    font-family: 'Boska';
    src: url('https://assets.website-files.com/63954148546a8e750c6f5e13/63954f5a39abd53903f8f004_Boska.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}
@font-face {
    font-family: 'Pangolin';
    src: url('https://assets.website-files.com/63954148546a8e750c6f5e13/63954f5aa82233799db00d9e_Pangolin.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: auto;
}